/* CLIENT-SPECIFIC STYLES */
    #outlook a { padding:0; } /* Force Outlook to provide a "view in browser" message */
    .ReadMsgBody { width:100%; }
    .ExternalClass { width:100%; } /* Force Hotmail to display emails at full width */
    .ExternalClass, .ExternalClass p,
    .ExternalClass span, .ExternalClass font,
    .ExternalClass td, .ExternalClass div {
    line-height: 100%;
    } /* Force Hotmail to display normal line spacing */
    body, table, td, a {
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    } /* Prevent WebKit and Windows mobile changing default text sizes */
    table, td {
    mso-table-lspace:0pt;
    mso-table-rspace:0pt;
    } /* Remove spacing between tables in Outlook 2007 and up */
    img { -ms-interpolation-mode:bicubic; } /* Allow smoother rendering of resized image in Internet Explorer */

    /* RESET STYLES */
    body { margin:0; padding:0; }
    img {
    border:0;
    height:auto;
    line-height:100%;
    outline:none;
    text-decoration:none;
    }
    table { border-collapse:collapse !important; }
    body {
    height:100% !important;
    margin:0;
    padding:0;
    width:100% !important;
    }
     /* iOS BLUE LINKS */
    .appleBody a { color:#68440a; text-decoration: none; }
    .appleFooter a { color:#999999; text-decoration: none; }

    /* Added by Matt */

    td[class="padding-copy"] {
        padding-top: 15px !important;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
    table[class="primary"] td[class="padding-copy"] {
        padding-top: 20px !important;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 0;
    }
    table[class="primary"] td[class="padding-disclaimer"] {
        padding-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
    }

    table[class="primary"] table[class="responsive-table"] img { width: 100%; height: 100%; }
    table[class="primary"] { font-size: 18px; line-height: 24px; }
    table[class="primary"] strong {
        color: #cc0000;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 25px;
    }

    table[class="primary"] table[class="mobile-button-container"] table td {
        line-height: 18px!important;
    }
    table[class="primary"] table[class="mobile-button-container"] a {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        color: #cc0000;
    }
    table[class="primary"] .mobile-button {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        color: #ffffff!important;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        background-color: #e00000;
        border-top: 6px solid #e00000;
        border-bottom: 6px solid #e00000;
        border-left: 20px solid #e00000;
        border-right: 20px solid #e00000;
        display: inline-block;
        text-align: center;
    }
    table[class="primary"] .copy-col td.button {
        padding-top: 10px !important;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
    }
    table[class="primary"] td.button a span { display: none; }

    table[class="secondary"] table[class="responsive-table"] { width: 47%; }
    table[class="secondary"] table[class="img-col"] img { width: 100%; height: 50%; }
    table[class="secondary"] table[class="copy-col"] { width: 50%; }
    table[class="secondary"] { font-size: 12px; line-height: 19px }
    table[class="secondary"] strong {
        color: #cc0000;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    table[class="secondary"] td[class="padding-disclaimer"] {
        padding-top: 8px;
    }
    table[class="secondary"] table[class="mobile-button-container"] table td {
        line-height: 16px!important;
    }
    table[class="secondary"] a {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        color: #cc0000;
        text-decoration: underline;
        text-align: left;
    }
    table[class="secondary"] .mobile-button {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        color: #cc0000;
        text-decoration: none;
        background-color: transparent;
        border: none;
        display: inline-block;
        text-decoration: underline;
        text-align: left;
    }
    /* End of additions */


    /* MOBILE STYLES */
    @media screen and (max-width: 525px) {
    /* ALLOWS FOR FLUID TABLES */
         table[class="wrapper"] {
            width:100% !important;
        }
        /* ADJUSTS LAYOUT OF LOGO IMAGE */
        td[class="logo"] {
            text-align: left;
            padding: 20px 0 10px 0 !important;
        }
        td[class="logo"] img {
            margin:0 auto!important;
        }
        /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
        td[class="mobile-hide"] {
            display:none;
        }
        img[class="mobile-hide"] {
            display: none !important;
        }
        img[class="img-max"] {
            max-width: 100% !important;
            width: 100% !important;
            height:auto !important;
        }
        /* FULL-WIDTH TABLES */
        table[class="responsive-table"] {
            width:100%!important;
        }
    table[class="copy-col"] { /* added by MH */
        width:100%!important;
    }
        /* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */

        td[class="padding-copy"] {
            padding: 10px 5% 10px 5% !important;
            text-align: left;
        }
    td[class="padding-disclaimer"] { /* added by MH */
            padding: 10px 5% 10px 5% !important;
            text-align: left;
        }
    table[class="primary"] td[class="button"] { /* added by MH */
        padding: 0 5% 10px 5% !important;
        text-align: left;
    }
    table[class="secondary"] td[class="button"] { /* added by MH */
        padding: 0 5% 10px 5% !important;
        text-align: left;
    }
        /* ADJUST BUTTONS ON MOBILE */
        td[class="mobile-wrapper"] {
            padding: 10px 0 15px 0 !important;
        }

        table[class="mobile-button-container"] {
            width:100% !important;
            padding: 0px 5% 10px 5% !important;
        }

    }
